/* Estilos generales */
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* Animación del logo */
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Clases específicas para ajustar cuando el teclado está activo */
.keyboard-active {
    padding: 0;
    margin: 0;
    height: auto;
}

.keyboard-adjust {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/* Ejemplo para ajustar elementos específicos */
input {
    margin: 0 !important;
    padding: 0.5rem !important;
}

.mx-auto.max-w-3xl.text-center {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .keyboard-adjust h1 {
        font-size: 3rem;
    }
}

/* Clase que se aplicará cuando el teclado esté activo en móvil */
.keyboard-active {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.keyboard-active input {
    margin: 0;
    padding: 0;
}
